
#auth-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

#auth-page #bg {
    width: 100vw;
    height: calc(100vh * 1.2);
    position: fixed;
    top: -8%;
    z-index: -10;
}

#auth-page #form {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    box-sizing: border-box;
    padding: 32px;
}
#auth-page #form > img:first-child {
    width: 60px;
    margin: 0 auto;
}
#auth-page #form > p {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
}

#auth-page #form input {
    height: 54px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 0 15px;
    box-sizing: border-box;
    outline: none;
}
#auth-page #form input::placeholder {
    font-size: 24px;
    color: #b3b8cc;
}
#auth-page #form input:not([value=""]){
    font-size: 24px;
}
#auth-page #form input:focus {
    border: 1px solid #FFCC00;
}
#auth-page #form button {
    height: 44px;
    border-radius: 8px;
    border: none;
    background-color: #FFCC00;
    font-size: 16px;
    font-weight: 600;
}