

#category-page section {
    display: flex;
    flex-direction: column;
    padding: 60px 3%;
}
#category-page .category-name {
    font-size: 32px;
    font-weight: 500;
}
#category-page #main {
    display: flex;
    gap: 15px;
}
